/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
  opacity: 0.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(176, 175, 175);
  cursor: pointer;

}

*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
p{
    user-select: none;
    -webkit-user-select: none;
}
body{
    padding: 0;
    margin: 0;
    touch-action: manipulation;
    overflow-x: hidden;
    background-color: #3a4750;
}
.Container{
    background-color: #3a4750;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

h1{
    align-self: center;
    font-family: sans-serif;
}


.contactMeText{
    max-width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
    align-self: center;
    word-wrap: break-word;
    overflow-wrap: normal;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.InfoContainer{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.InfoCard{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    position: relative;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.InfoCard img{
    width: 95%;
    height: 95%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.InfoCard button{
    width: 80%;
    min-height: 20px;
    font-size: 12px;
    color: white;
    background-color: green;
    z-index: 1;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    opacity: 0.5;
}

.InfoCard button:hover{
    opacity: 1;
    margin-bottom: 2px;
    border-color: whitesmoke;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    h1{
    align-self: center;
    font-family: sans-serif;
    text-align: center;
    }
    .Container{
    background-color: #3a4750;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding-bottom: 100px;
    }
    .contactMeText{
        max-width: 90%;
        font-size: 18px;
        color: white;
        text-align: center;
        align-self: center;
        word-wrap: break-word;
        overflow-wrap: normal;
        margin: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .InfoContainer{
    width: 90%;
    min-height: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
    }
}