.Tab{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tabContainer{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: #d3d6db;
    gap: 20px;
    opacity: 0.4;
    z-index: 10;
}
.tabContainer p{
    user-select: none;
    -webkit-user-select: none;
}
.tabContainer:hover{
    opacity: 1;
}
.home{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.home:hover{
    background-color: #515254;
    border-radius: 20px;
    cursor: pointer;
}
.home:active{
    scale: 0.9;
}
.homeIcon{
    stroke: black;
    width: 20px;
    height: 20px;
    align-self: center;
}
.home p{
    margin: 0;
    padding: 0;
    color: black;
}


.Contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px; 
}
.Contact:hover{
    background-color: #515254;
    border-radius: 20px;
    cursor: pointer;
}
.Contact:active{
    scale: 0.9;
}
.contactIcon{
    stroke: black;
    width: 20px;
    height: 20px;
    align-self: center;
}

.Contact p{
    margin: 0;
    padding: 0;
    color: black;
}

.activeTab{
   background-color: rgba(255, 255, 255, 0.45); 
   border-radius: 20px;
}



@media screen and (max-width: 600px) {
    .Tab{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tabContainer{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: #d3d6db;
    gap: 20px;
    opacity: 0.7;
    z-index: 10;
}
.tabContainer p{
    user-select: none;
    -webkit-user-select: none;
}
.tabContainer:hover{
    opacity: 1;
}
.home{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.home:hover{
    background-color: #515254;
    border-radius: 20px;
    cursor: pointer;
}
.home:active{
    scale: 0.9;
}
.homeIcon{
    stroke: black;
    width: 20px;
    height: 20px;
    align-self: center;
}
.home p{
    margin: 0;
    padding: 0;
    color: black;
}


.Contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px; 
}
.Contact:hover{
    background-color: #515254;
    border-radius: 20px;
    cursor: pointer;
}
.Contact:active{
    scale: 0.9;
}
.contactIcon{
    stroke: black;
    width: 20px;
    height: 20px;
    align-self: center;
}

.Contact p{
    margin: 0;
    padding: 0;
    color: black;
}

.activeTab{
   background-color: rgba(255, 255, 255, 0.45); 
   border-radius: 20px;
}
}